.navbar-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 1em;
}

.navbar-menu a{
  text-decoration: none;
  color: #124f9e;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #b69200;
}
