.navbar {
  position: fixed;
  top: 0;
  right: 0;
  color: yellow;
  
  height: 2rem;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 30px;
}

